.app {
    position: absolute;
    inset: 0;
    background-color: var(--bck);
    
    .calculator {
        margin: 0 2rem;
        display: flex;
        flex-flow: column;
        gap: 1rem;

        .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--txt);

        .title {
            width: 20%;
            font-size: 2rem;
            font-weight: 600;
        }

        .theme {
            width: 60%;
            font-size: 0.75rem;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 1px;
            text-align: right;
        }

        .themeBtn {
            width: 15%;

            &:hover {
                cursor: pointer;
            }
            
            .themeBtn__container {
                float: right;
                width: 90%;
                height: 20px;
                border-radius: 10px;
                padding: 3.75px 5px;
                background-color: var(--frg);

                .themeBtn__switch {
                    width: 12.5px;
                    height: 12.5px;
                    border-radius: 50%;
                    transform: translateX(var(--x));
                    transition-duration: 0.25s;
                    background-color: rgb(var(--acc2));
                }

            }

        }

        }

        .display {
        padding: 0 1rem; 
        min-height: 4.5rem;
        border-radius: 5px;
        display: flex;
        align-items: center;
        background-color: var(--frg);
        color: var(--displayTxt);

        > div::-webkit-scrollbar {
            display: none;
        }

        > * {
            width: 100%;
            overflow-x: auto; 
            text-align: right;
            font-size: 2rem;
            font-weight: 700; 
        }

        }

        .keys {
            padding: 1.2rem;
            border-radius: 5px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 1rem;
            background-color: var(--frg);

            button {
                font-size: 1.5rem;
                font-weight: 600;
                height: 40px;
                border: none;
                outline: none;
                border-radius: 5px;
                background-color: rgb(var(--btnBck));
                color: var(--txt);
                box-shadow: 0 4px rgba(var(--btnBck), 0.5);

                &:hover {
                    cursor: pointer;
                }

                &:active {
                    transform: translate(0, 4px);
                    box-shadow: none !important;
                }
                
            }

            .reset, .equal {
                grid-column: span 2;
            }

            .del, .reset, .equal {
                font-size: 1.25rem;
                text-transform: uppercase;
            }

            .reset, .del {
                background-color: rgb(var(--acc));
                color: var(--txt2);
                box-shadow: 0 4px rgba(var(--acc), 0.5);
            }

            .equal {
                background-color: rgb(var(--acc2));
                color: var(--txt2);
                box-shadow: 0 4px rgba(var(--acc2), 0.5);
            }

        }
    
    }

}

@media screen and (min-width:1024px) {
    .app {

        .calculator {
            width: 30%;
            margin: 2rem auto;
        }
    
    }
}

// themes

.theme_1 {
    --x: 0;
    --bck: #cacaca;
    --frg: #acacac;
    --txt: #000000;
    --txt2: #ffffff;
    --displayTxt: #000000;
    --btnBck: 214, 214, 214;
    --acc: 0, 128, 128;
    --acc2: 228, 71, 46;
}

.theme_2 {
    --x: 15px;
    --bck: #3b4664;
    --frg: #181f32;
    --txt: #000000;
    --txt2: #ffffff;
    --displayTxt: #ffffff;
    --btnBck: 256, 256, 256;
    --acc: 49, 59, 92;
    --acc2: 173, 38, 17;
}

.theme_3 {
    --x: 30px;
    --bck: #0c000f;
    --frg: #1f0027;
    --txt: #ffff00;
    --txt2: #ffffff;
    --displayTxt: #ffff00;
    --btnBck: 59, 0, 73;
    --acc: 100, 0, 100;
    --acc2: 53, 182, 169;
}